.play-settings__port {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.play-settings__port:last-child {
    margin-bottom: 0;
}

.play-settings__port-description {
    flex-grow: 1;
}

.play-settings__port-name {
    margin-bottom: 2px;
}

.play-settings__port-manufacturer {
    color: rgb(100, 100, 100);
    font-size: 10px;
}

.play-settings__table {
    width: 100%;
    border-collapse: collapse;
}

.play-settings__header {
    display: flex;
    align-items: center;
    background-color: rgb(235, 235, 235);
    border-bottom: 1px solid rgb(200, 200, 200);
    height: 40px;
}

.play-settings__row {
    display: flex;
    align-items: center;
    min-height: 40px;
}

.play-settings__cell {
    display: inline-block;
    max-height: 39px;
    padding: 0 20px;
}

.play-settings__channel {
    width: 60px;
    text-align: right;
}

.play-settings__assigned {
    width: 150px;
}

.play-settings__assigned--unassigned {
    color: rgb(175,175,175);
    font-style: italic;
}

.play-settings__map {
    width: calc(100% - 210px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}