.play-settings__header {
    padding: 0;
}

.play-settings__port {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.play-settings__port:last-child {
    margin-bottom: 0;
}

.play-settings__port-description {
    flex-grow: 1;
}

.play-settings__port-name {
    margin-bottom: 2px;
}

.play-settings__port-manufacturer {
    color: rgb(100, 100, 100);
    font-size: 10px;
}

.play-settings__row {
    display: flex;
    align-items: center;
    height: 48px;
}

.play-settings__cell {
    display: inline-block;
    max-height: 39px;
    padding: 0 20px;
}

.play-settings__cell--unassigned {
    color: rgb(175, 175, 175);
}

.play-settings__channel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    padding: 0;
}

.play-settings__assigned {
    flex-grow: 1;
}

.play-settings__map {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
}