.main-shell__topbar {
    position: relative;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 8px;
    background-color: white;
}

.main-shell__topbar-right {
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.main-shell__tabs {
    flex-grow: 1;
    margin-left: 0;
}

.main-shell__tabs .ui-tabs__bar {
    height: 100%;
    border-radius: 0;
}

.main-shell__tabs .ui-tab {
    color: #ffffff !important;
}

.main-shell__content {
    height: calc(100vh - 76px);
    width: 100vw;
    overflow: hidden;
}