body {
  background-color: #182127;
}

.main-shell__topbar {
  position: relative;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #0d1216;
  box-shadow: 0 0 4px rgba(0,0,0,.8);
}

.main-shell__topbar-right {
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.main-shell__tabs {
  flex-grow: 1;
}