body {
    background-color: #182127;
}

.main-shell__topbar {
    position: relative;
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-shell__topbar-right {
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.main-shell__tabs {
    flex-grow: 1;
    margin-left: 0;
}

.main-shell__tabs .ui-tab {
    color: white !important;
    margin-left: 8px;
}

.main-shell__tabs .ui-tabs__bar {
    height: calc(100% - 16px);
    border-radius: 3px;
    bottom: 8px;
}