.transport {
    display: flex;
    align-items: center;
}

.transport__controls {
    display: flex;
    background-color: rgba(255, 255, 255, .1);
    padding: 6px 20px;
    overflow: hidden;
}

.transport__metronome {
    background-color: rgba(255, 255, 255, .05);
    padding: 6px 20px;
    overflow: hidden;
}

.transport__icon--margin {
    margin-right: 20px;
}