.changelog__card {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: calc(100vh - 80px);
}

.changelog__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid rgb(200,200,200);
}

.changelog__h2 {
    font-size: 18px;
}

.changelog__content {
    height: calc(100% - 48px);
    overflow: auto;
}

.changelog__content li {
    display: flex;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 28px;
}

.changelog__content h3 {
    margin-bottom: 28px;
}

.changelog__content label {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 14px;
    color: white;
    margin-right: 20px;
    margin-top: -8px;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.changelog__content label:before {
    text-transform: uppercase;
    content: attr(type);
}

.changelog__content label[type=feature] {
    background-color: green;
}

.changelog__content label[type=changed] {
    background-color: blueviolet;
}