.render-write-mode {
  position: relative;
  padding: 40px;
  display: inline-block;
}

.render-write-mode__flow-name {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 6px;
  font-size: 12px;
}

.render-write-mode__container {
  position: relative;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  background-color: rgb(255,255,255);
}

.render-write-mode__text-layer {
  position: relative;
  z-index: 2;
}

.render-write-mode__svg-layer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}