.render-write-mode {
  position: relative;
  padding: 40px;
  display: inline-block;
}

.render-write-mode__flow-name {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 1;
  padding: 6px;
  font-size: 12px;
}

.render-write-mode__container {
  display: inline-block;
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}

.render-write-mode__container canvas {
  display: inline-block;
  background-color: white;
  display: block;
}