.instrument-track {
    position: relative;
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;
}

.instrument-track:last-child {
    margin-bottom: 0;
}

.instrument-track__ticks {
    position: absolute;
}
