.flow-list {
    width: 100%;
}

.flow-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    color: white;
    padding: 0px 24px;
    flex-shrink: 0;
}

.flow-list__wrapper {
    overflow: auto;
    width: 100%;
}

.flow-list__content {
    display: inline-flex;
    min-width: 240px;
    min-width: 100%;
    height: calc(100% - 48px);
    padding: 8px 0 8px 8px;
}