.keyboard {
    position: relative;
    width: 56px;
    min-width: 56px;
    background-color: white;
    background-repeat: repeat-y;
    overflow: hidden;
    touch-action: none;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.keyboard:active {
    cursor: grab;
}

.keyboard__name {
    position: absolute;
    top: 36px;
    right: 2px;
    color: black;
    font-size: 10px;
}
