.ticks {
    display: flex;
    height: 48px;
}

.tick {
    position: relative;
    height: 100%;
}

.tick:before {
    content: '';
    width: 2px;
    height: 25%;
    position: absolute;
    left: -1px;
    top: 0;
    background-color: rgba(255, 255, 255, .2);
}

.tick--boundry:before {
    height: 50%;
}

.tick:after {
    content: '';
    width: 2px;
    height: 10%;
    position: absolute;
    left: calc(50% - 1px);
    top: 0;
    background-color: rgba(255, 255, 255, .2);
}

.tick:last-child:before,
.tick--first-beat:before {
    height: 100%;
}

.tick:last-child:after {
    display: none;
}