.about__head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 48px;
    padding: 0 16px;
}

.about__logo {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about__logo-img {
    height: 64px;
    width: 64px;
    margin-bottom: 20px;
}

.about__logo-text {
    font-size: 24px;
    line-height: .9em;
}

.about__logo-text p:nth-child(2) {
    font-size: 16px;
}

.about__version {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    display: flex;
}

.about__grow {
    flex-grow: 1;
}

.about__foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 20px;
}

.about__paragraph {
    margin-bottom: 20px;
}