.transport {
    display: flex;
    align-items: center;
    height: 32px;
    border-radius: 3px;
    overflow: hidden;
}

.transport__timestamp {
    display: flex;
    align-items: center;
    color: white;
    padding: 0 20px 0 0;
    height: 100%;
}

.transport__controls {
    display: flex;
    padding: 6px 0 6px 20px;
    overflow: hidden;
}

.transport__metronome {
    padding: 6px 20px;
    overflow: hidden;
}

.transport__icon {
    margin-right: 20px;
}