.player-item {
  background-color: #232c32;
  margin-bottom: 8px;
  color: white;
  border-radius: 3px;
}

.player-item__header {
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.player-item__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px 16px 56px;
}

.player-item__name {
  display: flex;
  align-items: center;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}