.instrument-controls {
    background-color: #2e373c;
    margin-bottom: 8px;
    color: white;
    height: 200px;
}

.instrument-controls__header {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.instrument-controls__name {
    flex-grow: 1;
}