.player-controls {
    background-color: #232c32;
    margin-bottom: 8px;
    color: white;
    border-radius: 3px 0 0 3px;
}

.player-controls__header {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

.player-controls__name {
    display: flex;
    align-items: center;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player-controls__instruments {
    width: 100%;
}